<mat-card>
  <mat-card-subtitle>
    {{inspection.name}}: {{inspection.value  | number}}
  </mat-card-subtitle>
  <mat-card-content #svgContainer>
    <svg></svg>
  </mat-card-content>
  <mat-card-subtitle>
    <div fxLayout="row">
      <div fxLayout="column" fxFlex class="stat-captions">
        <div fxFlex="1 1 auto">Durchschnitt</div>
        <div fxFlex="1 1 auto">Median</div>
        <div fxFlex="1 1 auto">Minimal</div>
      </div>
      <div fxLayout="column" fxFlex class="stat-values">
        <div fxFlex="1 1 auto">{{(stats$ | async)?.AVERAGE | number}}</div>
        <div fxFlex="1 1 auto">{{(stats$ | async)?.MEDIAN  | number}}</div>
        <div fxFlex="1 1 auto">{{(stats$ | async)?.MIN  | number}}</div>
      </div>
      <div fxLayout="column" fxFlex class="stat-captions">
        <div fxFlex="1 1 auto">Anzahl Messungen</div>
        <div fxFlex="1 1 auto">Std.Abw</div>
        <div fxFlex="1 1 auto">Maximal</div>
      </div>
      <div fxLayout="column" fxFlex class="stat-values">
        <div fxFlex="1 1 auto">{{(stats$ | async)?.COUNT  | number}}</div>
        <div fxFlex="1 1 auto">{{(stats$ | async)?.STDDEV  | number}}</div>
        <div fxFlex="1 1 auto">{{(stats$ | async)?.MAX  | number}}</div>
      </div>
    </div>
  </mat-card-subtitle>
</mat-card>
