<mat-toolbar>

  {{(run$ | async)?.monitoring.name}} Start: {{(run$ | async)?.started | date:'medium'}}

</mat-toolbar>
<div fxLayout="row">
  <inspection-list fxFlex="1 1 50%" [runId]="(run$ | async)?.boid"
                   (showHistory)="onShowHistory($event)"></inspection-list>

  <mat-card fxFlex="1 1 auto">
    <inspection-history [inspectionBoid]="showHistoryBoid"
                        *ngIf="showHistoryBoid"
                        (close)="onCloseHistory($event)"
    ></inspection-history>

    <mat-card-title>Kommentare</mat-card-title>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
