<mat-toolbar>
  <span fxFlex="0 0 auto">Runs</span>
  <span fxFlex="0 0 180px">
    <mat-form-field>
      <input  #nameFilter type="text" matInput placeholder="filter" [formControl]="monFilterCtrl">
    </mat-form-field>
  </span>
  <span fxFlex="0 0 auto">
    <button [matMenuTriggerFor]="filter" [ngClass]="{'filter-active': runStatusFilter !== ''}">
      <mat-icon>filter_list</mat-icon>
    </button>
  </span>
  <mat-menu #filter="matMenu">
    <button mat-menu-item (click)="setStatusFilter('red')">
      <mat-icon>error</mat-icon>
      Rot
    </button>
    <button mat-menu-item (click)="setStatusFilter('yellow')">
      <mat-icon>warning</mat-icon>
      Gelb
    </button>
    <button mat-menu-item (click)="setStatusFilter('green')">
      <mat-icon>check_circle</mat-icon>
      Grün
    </button>
    <button mat-menu-item (click)="setStatusFilter('')"> Alle</button>
  </mat-menu>

</mat-toolbar>
<mat-list dense>
  <mat-list-item *ngFor="let run of runs$ | async" [routerLink]="[run.boid]" routerLinkActive="active-link">
    <run-list-item [run]="run" fxFlex="1 1 100%"></run-list-item>
  </mat-list-item>
</mat-list>
