<mat-toolbar>
  <span fxFlex="0 0 auto">Runs</span>
  <span fxFlex="0 0 160px">
    <mat-form-field>
      <input  #nameFilter type="text" matInput placeholder="Batchname" [formControl]="monFilterCtrl">
    </mat-form-field>
  </span>
  <mat-form-field fxFlex="0 0 120px">
    <input matInput [matDatepicker]="picker" placeholder="Datum" [formControl]="dateCtrl">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <span fxFlex="1 0 auto"></span>
  <span fxFlex="0 0 30px">
    <button [matMenuTriggerFor]="filter">
      <mat-icon>filter_list</mat-icon>
    </button>
  </span>
  <mat-menu #filter="matMenu">
    <button mat-menu-item (click)="setStatusFilter('red')">
      <mat-icon>error</mat-icon>
      Rot
    </button>
    <button mat-menu-item (click)="setStatusFilter('yellow')">
      <mat-icon>warning</mat-icon>
      Gelb
    </button>
    <button mat-menu-item (click)="setStatusFilter('green')">
      <mat-icon>check_circle</mat-icon>
      Grün
    </button>
    <button mat-menu-item (click)="setStatusFilter('')"> Alle</button>
  </mat-menu>
</mat-toolbar>
<mat-nav-list dense>
  <mat-list-item *ngFor="let run of runs$ | async" [routerLink]="[run.boid]" routerLinkActive="active-link">
    <run-list-item [run]="run" fxFlex="1 1 100%"></run-list-item>
  </mat-list-item>
  <mat-paginator [length]="resultsLength" [pageSize]="15">
  </mat-paginator>
</mat-nav-list>
