<mat-toolbar>
  <span fxFlex="0 0 auto">Runs</span>
  <span fxFlex="0 0 auto">
    <mat-form-field>
      <input type="text" matInput [matAutocomplete]="auto" placeholder="Pick one" [formControl]="monNamesCtrl">
       <mat-autocomplete #auto="matAutocomplete">
         <mat-option *ngFor="let name of filteredMonitoringNames$ | async" [value]="name">
            <span>{{ name }}</span>
          </mat-option>
    </mat-autocomplete>
    </mat-form-field>
  </span>
  <span fxFlex="1 1 100%"> </span>
  <span fxFlex="0 0 auto">
    <button [matMenuTriggerFor]="filter" [ngClass]="{'filter-active': currentFilter !== ''}">
      <mat-icon>filter_list</mat-icon>
    </button>
  </span>
  <mat-menu #filter="matMenu">
    <button mat-menu-item (click)="setFilter('red')">
      <mat-icon>error</mat-icon>
      Rot
    </button>
    <button mat-menu-item (click)="setFilter('yellow')">
      <mat-icon>warning</mat-icon>
      Gelb
    </button>
    <button mat-menu-item (click)="setFilter('green')">
      <mat-icon>check_circle</mat-icon>
      Grün
    </button>
    <button mat-menu-item (click)="setFilter('')"> Alle</button>
  </mat-menu>

</mat-toolbar>
<mat-list dense>
  <mat-list-item *ngFor="let run of runs$ | async" [routerLink]="[run.boid]" routerLinkActive="active-link">
    <run-list-item [run]="run" fxFlex="1 1 100%"></run-list-item>
  </mat-list-item>
</mat-list>
